  <h2>Most recent pictures</h2>
  <ul>
    <% @most_recent_pictures.each do |picture| %>
      <li><%= picture.title %></li>
    <% end %>
  </ul>



  <h2>All pictures</h2>
  <div class="grid-class">


  <% @pictures.each do |picture| %>
    <div class="photo">
    <p><%= picture.title %>, <%= picture.artist %></p>
    <a href= "/pictures/<%= picture.id %>">
    <img src="<%= picture.url %>" alt="<%= picture.title %>"></a>
    </div>
  <% end %>
</div>

  <% if @created_a_month_ago.any? %>
    <h1>Older than 1 month</h1>
    <ul>
      <% @created_a_month_ago.each do |picture| %>
        <li><%= picture.title %></li>
        <li><%= @created_a_month_ago%></li>
      <% end %>
    </ul>
  <% end %>
