
<%= link_to("Back to Pictures", "/pictures") %>


<% if current_user == @picture.user %>

| <%= link_to("Edit", "/pictures/#{@picture.id}/edit") %> | <%= link_to("Delete", "/pictures/#{@picture.id}", method: :delete, data: {confirm: "Are you sure you want to delete this picture?"})  %>

<% end %>

<p><%= @picture.title %>, <%= @picture.artist %>, Posted by: <%= @picture.user.email %> On: <%= @picture.created_at %></p>

<br>
<img class="fullimg" src="<%= @picture.url %>">
